<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/style.css">

<head>

<body>
    <!-- Container -->
    <div class="container">
        <div id="colspan">
            <img src="static/images/foto.jpg">
            <h4 class="nama"> Bisma Nizarusady</h4>
            <p><i class="fa fa-briefcase fa-fw large"></i>Undergraduate Statistics</p>
            <p><i class="fa fa-home fa-fw large"></i>Universitas Sebelas Maret</p>
            <p><i class="fa fa-phone fa-fw large"></i>082297175302</p>
            <hr>
            <h3><i class="fa fa-linux fa-fw large"></i>Skills</h3>
            <p>Menulis</p>
            <div class="load">
                <div class="progress" style="width:80%">80%</div>
            </div>
            <p>Membuat Konten</p>
            <div class="load2">
                <div class="progress2" style="width:80%">80%</div>
            </div>
            <hr>
            <h3><i class="fa fa-language fa-fw large"></i>Language</h3>
            <p>English</p>
            <hr>
            <h3><i class="fa fa-globe fa-fw large"></i>Social Media</h3>
            <a href="https://instagram.com/bisma.nzrsdy="><i
                    class="fa fa-instagram fa-fw large"></i></a>
        </div>
        <div class="container-padding">
            <div class="padding">
                <div class="content1">
                    <h2><i class="fa fa-briefcase fa-fw large"></i>School</h2>
                    <h3>Universitas Sebelas Maret</h3>
                    <p><i class="fa fa-calendar fa-fw large"></i>2020</p>
                    </p>
            </div>
            <div class="padding">
                <div class="bottom">
                    <div class="content1">
                        <h2><i class="fa fa-briefcase fa-fw large"></i>Pengalaman :</h2>
                        <p><i class="fa fa-calendar fa-fw large"></i>Founder Weabooletin - present</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Badan Eksekutif Mahasiswa FMIPA - 2021</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Himpunan Mahasiswa Statistika </p>
                    </div>
                    <hr>
            </div>
        </div>

</body>

</html>